<!--benefit-->
    <h1 class="text-center">YOU GET</h1>    
     <div class="container">
      <div class="row">
         <div class="col-md-4 text-center">
          <i class="fa fa-eye fa-4x"></i>     
          <h3>Accuracy</h3>
          <p>Live Preview and others that you may not find in other
        editors. Brackets is written in JavaScript, HTML and CSS. That means that most of you using Brackets
        have the skills necessary to modify and extend the editor</p>     
         </div>
          
         <div class="col-md-4 text-center">
          <i class="fa fa-star fa-4x"></i>
           <h3>Performance</h3>     
          <p>Live Preview and others that you may not find in other
        editors. Brackets is written in JavaScript, HTML and CSS. That means that most of you using Brackets
        have the skills necessary to modify and extend the editor</p>     
         </div>  
          
        <div class="col-md-4 text-center">
          <i class="fa fa-angellist fa-4x"></i>   
          <h3>Assistance</h3>
          <p>Live Preview and others that you may not find in other
        editors. Brackets is written in JavaScript, HTML and CSS. That means that most of you using Brackets
        have the skills necessary to modify and extend the editor</p>    
         </div>  
      </div>   
     </div>
    <!--benefit-->
    