<!--start knowmore -->
<h1 class="text-center">Employee Role</h1> 
    <div class="container">    
    <div class="row">
      <div class="col-md-6 text-center">
        <i class="fa fa-comments fa-5x"></i>
        <h3>Your Comment is very important</h3>
        <p>In fact, we use Brackets every day to build
        Brackets. To learn more about how to use the key features, read on.</p>  
      </div>  
        
     <div class="col-md-6 text-center">
        <i class="fa fa-users fa-5x"></i>
        <h3>Keep in touxh with our organization</h3>
        <p>In fact, we use Brackets every day to build
        Brackets. To learn more about how to use the key features, read on.</p>
     </div>  
        
        <hr>
        
     <div class="col-md-6 text-center">
        <i class="fa fa-calendar fa-5x"></i>
        <h3>Make time not be wasted</h3>
        <p>In fact, we use Brackets every day to build
        Brackets. To learn more about how to use the key features, read on.</p>
     </div>
        
     <div class="col-md-6 text-center">
        <i class="fa fa-thumbs-up fa-5x"></i>
        <h3>Make your business perfect</h3>
        <p>In fact, we use Brackets every day to build
        Brackets. To learn more about how to use the key features, read on.</p>
     </div>    

     </div>
    </div> 
    <!--end knowmore-->